<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-button variant="primary" @click="increment">Add</b-button>
    <span>{{count}}</span>
  </div>
</template>

<script lang="ts">
import store from '@/store'

export default {
  methods: {
    increment() {
      this.$store.commit('increment')
      
    }
  },
  computed: {
    count() {
      return store.state.count
    }
  }
}
</script>

