<template>
  <div class="home">
    <nav>
      <router-link to="/">Home 1</router-link> |
      <router-link to="/home2">Home 2</router-link>
    </nav>
    <img alt="Vue logo" src="../assets/logo.png">
    <router-view/>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'HomeView',
  components: {
  }
}
</script>
