<template>
  <div>
      <b-container>
          <b-row>
            <b-col col="12">
            <b-button>Button</b-button>
            <b-button variant="danger">Button</b-button>
            <b-button variant="success">Button</b-button>
            <b-button variant="outline-primary">Button</b-button>

            </b-col>

            <b-card>
                <b-skeleton width="85%"></b-skeleton>
                <b-skeleton width="55%"></b-skeleton>
                <b-skeleton width="70%"></b-skeleton>
            </b-card>

          </b-row>

      </b-container>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>