<template>
  <div>
      <h3>Todos</h3>
      <ul>
          <Todo v-for="todo in getUndoneTodos" :key="todo.id"  :todo="todo" />
      </ul>
      <h3>Todo Done</h3>
      <ul>
          <Todo v-for="todo in getDoneTodos" :key="todo.id"  :todo="todo" />
      </ul>
  </div>
</template>

<script>
import Todo from "../components/Todo.vue"
import { mapState, mapGetters } from 'vuex'
export default {
    components: {Todo},
    computed: {
    ...mapState({ allTodos: state => state.todos }),
    ...mapGetters(['getDoneTodos', 'getUndoneTodos'])
    },

}
</script>

<style>

</style>