<template>
  <li :class="{'done': todo.isDone}" class="todo" @click="changeStatus(todo.id)">{{todo.name}}</li>
</template>

<script>
import store from "../store"
export default {
    props: ['todo'],
    methods: {
        changeStatus(id) {
            store.commit('changeStatus', id);
        }
    }

}
</script>

<style>
.todo{
    cursor: pointer;
}

.done{
    text-decoration: line-through;
    background: tomato;
}

</style>